[submodule "submodules/OpenRGB-cppSDK"]
	path = submodules/OpenRGB-cppSDK
	url = https://github.com/Emiliopg91/Youda008-OpenRGB-cppSDK
[submodule "submodules/OpenRGB"]
	path = submodules/OpenRGB
	url = https://github.com/Emiliopg91/OpenRGB
[submodule "submodules/RccDeckyCompanion"]
	path = submodules/RccDeckyCompanion
	url = https://github.com/Emiliopg91/RccDeckyCompanion
[submodule "submodules/httplib"]
	path = submodules/httplib
	url = https://github.com/Emiliopg91/yhirose-cpp-httplib
[submodule "submodules/json"]
	path = submodules/json
	url = https://github.com/Emiliopg91/nlohmann-json
[submodule "gabime-spdlog"]
	path = gabime-spdlog
	url = https://github.com/Emiliopg91/gabime-spdlog
[submodule "submodules/spdlog"]
	path = submodules/spdlog
	url = https://github.com/Emiliopg91/gabime-spdlog
