[submodule "submodules/OpenRGB-cppSDK"]
	path = submodules/OpenRGB-cppSDK
	url = https://github.com/Emiliopg91/Youda008-OpenRGB-cppSDK
[submodule "submodules/OpenRGB"]
	path = submodules/OpenRGB
	url = https://github.com/Emiliopg91/OpenRGB
	branch = main
[submodule "submodules/RccDeckyCompanion"]
	path = submodules/RccDeckyCompanion
	url = https://github.com/Emiliopg91/RccDeckyCompanion
[submodule "submodules/yaml-cpp"]
	path = submodules/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp
[submodule "submodules/magic_enum"]
	path = submodules/magic_enum
	url = https://github.com/Neargye/magic_enum
[submodule "submodules/nlohmann-json"]
	path = submodules/nlohmann-json
	url = https://github.com/nlohmann/json
