[Desktop Entry]
Name=RogControlCenter
Comment=An utility to manage Asus Rog laptop performance
Exec=main/main
Icon=icon
Terminal=false
Type=Application
Categories=Utility;
