[Desktop Entry]
Comment=
Exec=python3 /var/mnt/Datos/Desarrollo/Workspace/VSCode/qt-test/dist/main
GenericName=
Icon=/var/mnt/Datos/Desarrollo/Workspace/VSCode/qt-test/assets/icons/rog-logo.svg
MimeType=
Name=Enlace a aplicación
Path=/var/mnt/Datos/Desarrollo/Workspace/VSCode/qt-test
PrefersNonDefaultGPU=false
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
