[Desktop Entry]
Name=RogPerfTuner
Comment=An utility to manage Asus Rog laptop performance and RGB lighting
Exec=usr/bin/RogPerfTuner
Icon=icon
Terminal=false
Type=Application
Categories=Utility;