[Desktop Entry]
Name=RogPerfTuner
Comment=An utility to manage Asus Rog laptop performance and RGB lighting
Exec=/usr/bin/rog-perf-tuner
Icon=/usr/share/rog-perf-tuner/icons/icon.svg
Terminal=false
Type=Application
Categories=Utility;