.settingsBlock > fieldset > div {
    margin-left: 0.313em;
    padding: 1.5em 0.63em 0.63em 0.63em;
  }
  
  .settingsLine {
    margin-bottom: 1em;
  }
  
  .settingsLine .optionLabel {
    text-align: right;
  }