@use '../../../assets/styles/variables.scss' as variables;

.settingsBlock {
  > fieldset {
    border: 1px solid variables.$fontColor;
    border-radius: 1em;
    margin-bottom: 2em;
    > legend {
      display:flex;
      position: relative;
      top: -0.8em;
      left: 1em;
      background-color: variables.$backgroundColor;
      padding: 0em 0.5em;
      width: auto;
      .blockIcon {
        margin-right:0.8em
      }
      .blockName {
      }
    }
    > div {
      margin-left: 0.313em;
      padding: 0em 0.8em;
    }
    > div{
      > .settingsLine {
        margin-bottom: 1em;
        > .optionLabel {
          text-align: right; 
        }
        > .optionInput {
          select {
            position: relative;
            top: -0.4em
          }
        }
      }
    }
  }
}
