#---------------------------------------------------------------#
#  OpenRGB udev rules - Git Commit:                     #
#---------------------------------------------------------------#

#---------------------------------------------------------------#
#  User I2C/SMBus Access                                        #
#---------------------------------------------------------------#
KERNEL=="i2c-[0-99]*", TAG+="uaccess"

#---------------------------------------------------------------#
#  Super I/O Access                                             #
#---------------------------------------------------------------#
KERNEL=="port", TAG+="uaccess"

#---------------------------------------------------------------#
#  ASUS TUF Laptops (faustus)                                   #
#---------------------------------------------------------------#
ACTION=="add", SUBSYSTEM=="platform", KERNEL=="faustus", RUN+="/usr/bin/env chmod a+w /sys/bus/platform/devices/%k/kbbl/kbbl_blue"
ACTION=="add", SUBSYSTEM=="platform", KERNEL=="faustus", RUN+="/usr/bin/env chmod a+w /sys/bus/platform/devices/%k/kbbl/kbbl_flags"
ACTION=="add", SUBSYSTEM=="platform", KERNEL=="faustus", RUN+="/usr/bin/env chmod a+w /sys/bus/platform/devices/%k/kbbl/kbbl_green"
ACTION=="add", SUBSYSTEM=="platform", KERNEL=="faustus", RUN+="/usr/bin/env chmod a+w /sys/bus/platform/devices/%k/kbbl/kbbl_mode"
ACTION=="add", SUBSYSTEM=="platform", KERNEL=="faustus", RUN+="/usr/bin/env chmod a+w /sys/bus/platform/devices/%k/kbbl/kbbl_red"
ACTION=="add", SUBSYSTEM=="platform", KERNEL=="faustus", RUN+="/usr/bin/env chmod a+w /sys/bus/platform/devices/%k/kbbl/kbbl_set"
ACTION=="add", SUBSYSTEM=="platform", KERNEL=="faustus", RUN+="/usr/bin/env chmod a+w /sys/bus/platform/devices/%k/kbbl/kbbl_speed"

#---------------------------------------------------------------#
#  ASUS TUF Laptops (asus-wmi)                                  #
#---------------------------------------------------------------#
ACTION=="add", SUBSYSTEM=="leds", KERNEL=="asus::kbd_backlight", RUN+="/usr/bin/env chmod a+w /sys%p/kbd_rgb_mode"
ACTION=="add", SUBSYSTEM=="leds", KERNEL=="asus::kbd_backlight", RUN+="/usr/bin/env chmod a+w /sys%p/brightness"

#---------------------------------------------------------------#
# Asus AURA Core - DetectAsusAuraCoreControllers
#---------------------------------------------------------------#
SUBSYSTEMS=="usb|hidraw", ATTRS{idVendor}=="0b05", ATTRS{idProduct}=="1854", TAG+="uaccess", TAG+="ASUS_Aura_Core"
SUBSYSTEMS=="usb|hidraw", ATTRS{idVendor}=="0b05", ATTRS{idProduct}=="1866", TAG+="uaccess", TAG+="ASUS_Aura_Core"
SUBSYSTEMS=="usb|hidraw", ATTRS{idVendor}=="0b05", ATTRS{idProduct}=="1869", TAG+="uaccess", TAG+="ASUS_Aura_Core"
#---------------------------------------------------------------#
# AsusAuraCoreLaptop - DetectAsusAuraCoreLaptopControllers
#---------------------------------------------------------------#
SUBSYSTEMS=="usb|hidraw", ATTRS{idVendor}=="0b05", ATTRS{idProduct}=="19b6", TAG+="uaccess", TAG+="ASUS_ROG_Strix_SCAR_15"
SUBSYSTEMS=="usb|hidraw", ATTRS{idVendor}=="0b05", ATTRS{idProduct}=="1866", TAG+="uaccess", TAG+="ASUS_ROG_Strix_SCAR_17"
#---------------------------------------------------------------#
# Asus Aura Headset Stand - DetectAsusAuraUSBHeadsetStand
#---------------------------------------------------------------#
SUBSYSTEMS=="usb|hidraw", ATTRS{idVendor}=="0b05", ATTRS{idProduct}=="18d9", TAG+="uaccess", TAG+="ASUS_ROG_Throne"
SUBSYSTEMS=="usb|hidraw", ATTRS{idVendor}=="0b05", ATTRS{idProduct}=="18c5", TAG+="uaccess", TAG+="ASUS_ROG_Throne_QI"
SUBSYSTEMS=="usb|hidraw", ATTRS{idVendor}=="0b05", ATTRS{idProduct}=="1994", TAG+="uaccess", TAG+="ASUS_ROG_Throne_QI_GUNDAM"
#---------------------------------------------------------------#
# Asus Aura Keyboard - DetectAsusAuraUSBKeyboards
#---------------------------------------------------------------#
SUBSYSTEMS=="usb|hidraw", ATTRS{idVendor}=="0b05", ATTRS{idProduct}=="190c", TAG+="uaccess", TAG+="ASUS_ROG_Strix_Scope_TKL"
SUBSYSTEMS=="usb|hidraw", ATTRS{idVendor}=="0b05", ATTRS{idProduct}=="1a05", TAG+="uaccess", TAG+="ASUS_ROG_Strix_Scope_RX_TKL_Wireless_Deluxe"
SUBSYSTEMS=="usb|hidraw", ATTRS{idVendor}=="0b05", ATTRS{idProduct}=="1954", TAG+="uaccess", TAG+="ASUS_ROG_Strix_Scope_TKL_PNK_LTD"
#---------------------------------------------------------------#
# Asus Aura Monitor - DetectAsusAuraUSBMonitor
#---------------------------------------------------------------#
SUBSYSTEMS=="usb|hidraw", ATTRS{idVendor}=="0b05", ATTRS{idProduct}=="198c", TAG+="uaccess", TAG+="ASUS_ROG_Strix_XG27AQ"
SUBSYSTEMS=="usb|hidraw", ATTRS{idVendor}=="0b05", ATTRS{idProduct}=="19bb", TAG+="uaccess", TAG+="ASUS_ROG_Strix_XG27AQM"
SUBSYSTEMS=="usb|hidraw", ATTRS{idVendor}=="0b05", ATTRS{idProduct}=="1919", TAG+="uaccess", TAG+="ASUS_ROG_Strix_XG279Q"
SUBSYSTEMS=="usb|hidraw", ATTRS{idVendor}=="0b05", ATTRS{idProduct}=="1933", TAG+="uaccess", TAG+="ASUS_ROG_Strix_XG27W"
SUBSYSTEMS=="usb|hidraw", ATTRS{idVendor}=="0b05", ATTRS{idProduct}=="1968", TAG+="uaccess", TAG+="ASUS_ROG_Strix_XG32VC"
SUBSYSTEMS=="usb|hidraw", ATTRS{idVendor}=="0b05", ATTRS{idProduct}=="19b9", TAG+="uaccess", TAG+="ASUS_ROG_PG32UQ"
#---------------------------------------------------------------#
# Asus Aura Mouse - DetectAsusAuraUSBMice
#---------------------------------------------------------------#
SUBSYSTEMS=="usb|hidraw", ATTRS{idVendor}=="0b05", ATTRS{idProduct}=="18dd", TAG+="uaccess", TAG+="ASUS_ROG_Gladius_II_Core"
SUBSYSTEMS=="usb|hidraw", ATTRS{idVendor}=="0b05", ATTRS{idProduct}=="1845", TAG+="uaccess", TAG+="ASUS_ROG_Gladius_II"
SUBSYSTEMS=="usb|hidraw", ATTRS{idVendor}=="0b05", ATTRS{idProduct}=="1877", TAG+="uaccess", TAG+="ASUS_ROG_Gladius_II_Origin"
SUBSYSTEMS=="usb|hidraw", ATTRS{idVendor}=="0b05", ATTRS{idProduct}=="18cd", TAG+="uaccess", TAG+="ASUS_ROG_Gladius_II_Origin_PNK_LTD"
SUBSYSTEMS=="usb|hidraw", ATTRS{idVendor}=="0b05", ATTRS{idProduct}=="18b1", TAG+="uaccess", TAG+="ASUS_ROG_Gladius_II_Origin_COD"
SUBSYSTEMS=="usb|hidraw", ATTRS{idVendor}=="0b05", ATTRS{idProduct}=="189e", TAG+="uaccess", TAG+="ASUS_ROG_Gladius_II_Wireless"
SUBSYSTEMS=="usb|hidraw", ATTRS{idVendor}=="0b05", ATTRS{idProduct}=="18a0", TAG+="uaccess", TAG+="ASUS_ROG_Gladius_II_Wireless"
SUBSYSTEMS=="usb|hidraw", ATTRS{idVendor}=="0b05", ATTRS{idProduct}=="197b", TAG+="uaccess", TAG+="ASUS_ROG_Gladius_III"
SUBSYSTEMS=="usb|hidraw", ATTRS{idVendor}=="0b05", ATTRS{idProduct}=="197d", TAG+="uaccess", TAG+="ASUS_ROG_Gladius_III_Wireless_USB"
SUBSYSTEMS=="usb|hidraw", ATTRS{idVendor}=="0b05", ATTRS{idProduct}=="197f", TAG+="uaccess", TAG+="ASUS_ROG_Gladius_III_Wireless_24Ghz"
SUBSYSTEMS=="usb|hidraw", ATTRS{idVendor}=="0b05", ATTRS{idProduct}=="1981", TAG+="uaccess", TAG+="ASUS_ROG_Gladius_III_Wireless_Bluetooth"
SUBSYSTEMS=="usb|hidraw", ATTRS{idVendor}=="0b05", ATTRS{idProduct}=="1a70", TAG+="uaccess", TAG+="ASUS_ROG_Gladius_III_Wireless_AimPoint_USB"
SUBSYSTEMS=="usb|hidraw", ATTRS{idVendor}=="0b05", ATTRS{idProduct}=="1a72", TAG+="uaccess", TAG+="ASUS_ROG_Gladius_III_Wireless_AimPoint_24Ghz"
SUBSYSTEMS=="usb|hidraw", ATTRS{idVendor}=="0b05", ATTRS{idProduct}=="18e5", TAG+="uaccess", TAG+="ASUS_ROG_Chakram_Wireless"
SUBSYSTEMS=="usb|hidraw", ATTRS{idVendor}=="0b05", ATTRS{idProduct}=="18e3", TAG+="uaccess", TAG+="Asus_ROG_Chakram_Wired"
SUBSYSTEMS=="usb|hidraw", ATTRS{idVendor}=="0b05", ATTRS{idProduct}=="1958", TAG+="uaccess", TAG+="Asus_ROG_Chakram_Core"
SUBSYSTEMS=="usb|hidraw", ATTRS{idVendor}=="0b05", ATTRS{idProduct}=="1a18", TAG+="uaccess", TAG+="Asus_ROG_Chakram_X_USB"
SUBSYSTEMS=="usb|hidraw", ATTRS{idVendor}=="0b05", ATTRS{idProduct}=="1a1a", TAG+="uaccess", TAG+="Asus_ROG_Chakram_X_24GHz"
SUBSYSTEMS=="usb|hidraw", ATTRS{idVendor}=="0b05", ATTRS{idProduct}=="1977", TAG+="uaccess", TAG+="Asus_ROG_Spatha_X_USB"
SUBSYSTEMS=="usb|hidraw", ATTRS{idVendor}=="0b05", ATTRS{idProduct}=="1979", TAG+="uaccess", TAG+="Asus_ROG_Spatha_X_24GHz"
SUBSYSTEMS=="usb|hidraw", ATTRS{idVendor}=="0b05", ATTRS{idProduct}=="1979", TAG+="uaccess", TAG+="Asus_ROG_Spatha_X_Dock"
SUBSYSTEMS=="usb|hidraw", ATTRS{idVendor}=="0b05", ATTRS{idProduct}=="1846", TAG+="uaccess", TAG+="ASUS_ROG_Pugio"
SUBSYSTEMS=="usb|hidraw", ATTRS{idVendor}=="0b05", ATTRS{idProduct}=="1906", TAG+="uaccess", TAG+="ASUS_ROG_Pugio_II_Wired"
SUBSYSTEMS=="usb|hidraw", ATTRS{idVendor}=="0b05", ATTRS{idProduct}=="1908", TAG+="uaccess", TAG+="ASUS_ROG_Pugio_II_Wireless"
SUBSYSTEMS=="usb|hidraw", ATTRS{idVendor}=="0b05", ATTRS{idProduct}=="1847", TAG+="uaccess", TAG+="ASUS_ROG_Strix_Impact"
SUBSYSTEMS=="usb|hidraw", ATTRS{idVendor}=="0b05", ATTRS{idProduct}=="18e1", TAG+="uaccess", TAG+="ASUS_ROG_Strix_Impact_II"
SUBSYSTEMS=="usb|hidraw", ATTRS{idVendor}=="0b05", ATTRS{idProduct}=="189e", TAG+="uaccess", TAG+="ASUS_ROG_Strix_Impact_II_Gundam"
SUBSYSTEMS=="usb|hidraw", ATTRS{idVendor}=="0b05", ATTRS{idProduct}=="1956", TAG+="uaccess", TAG+="ASUS_ROG_Strix_Impact_II_Electro_Punk"
SUBSYSTEMS=="usb|hidraw", ATTRS{idVendor}=="0b05", ATTRS{idProduct}=="19d2", TAG+="uaccess", TAG+="ASUS_ROG_Strix_Impact_II_Moonlight_White"
SUBSYSTEMS=="usb|hidraw", ATTRS{idVendor}=="0b05", ATTRS{idProduct}=="1947", TAG+="uaccess", TAG+="ASUS_ROG_Strix_Impact_II_Wireless_USB"
SUBSYSTEMS=="usb|hidraw", ATTRS{idVendor}=="0b05", ATTRS{idProduct}=="1949", TAG+="uaccess", TAG+="ASUS_ROG_Strix_Impact_II_Wireless_24_Ghz"
SUBSYSTEMS=="usb|hidraw", ATTRS{idVendor}=="0b05", ATTRS{idProduct}=="1a88", TAG+="uaccess", TAG+="ASUS_ROG_Strix_Impact_III"
SUBSYSTEMS=="usb|hidraw", ATTRS{idVendor}=="0b05", ATTRS{idProduct}=="195c", TAG+="uaccess", TAG+="ASUS_ROG_Keris"
SUBSYSTEMS=="usb|hidraw", ATTRS{idVendor}=="0b05", ATTRS{idProduct}=="195e", TAG+="uaccess", TAG+="ASUS_ROG_Keris_Wireless_USB"
SUBSYSTEMS=="usb|hidraw", ATTRS{idVendor}=="0b05", ATTRS{idProduct}=="1960", TAG+="uaccess", TAG+="ASUS_ROG_Keris_Wireless_24Ghz"
SUBSYSTEMS=="usb|hidraw", ATTRS{idVendor}=="0b05", ATTRS{idProduct}=="1962", TAG+="uaccess", TAG+="ASUS_ROG_Keris_Wireless_Bluetooth"
SUBSYSTEMS=="usb|hidraw", ATTRS{idVendor}=="0b05", ATTRS{idProduct}=="1a66", TAG+="uaccess", TAG+="ASUS_ROG_Keris_Wireless_AimPoint_USB"
SUBSYSTEMS=="usb|hidraw", ATTRS{idVendor}=="0b05", ATTRS{idProduct}=="1a68", TAG+="uaccess", TAG+="ASUS_ROG_Keris_Wireless_AimPoint_24Ghz"
SUBSYSTEMS=="usb|hidraw", ATTRS{idVendor}=="0b05", ATTRS{idProduct}=="1910", TAG+="uaccess", TAG+="ASUS_TUF_Gaming_M3"
SUBSYSTEMS=="usb|hidraw", ATTRS{idVendor}=="0b05", ATTRS{idProduct}=="1a9b", TAG+="uaccess", TAG+="ASUS_TUF_Gaming_M3_Gen_II"
SUBSYSTEMS=="usb|hidraw", ATTRS{idVendor}=="0b05", ATTRS{idProduct}=="1898", TAG+="uaccess", TAG+="ASUS_TUF_Gaming_M5"
#---------------------------------------------------------------#
# Asus Aura Spatha - DetectAsusAuraUSBSpatha
#---------------------------------------------------------------#
SUBSYSTEMS=="usb|hidraw", ATTRS{idVendor}=="0b05", ATTRS{idProduct}=="181c", TAG+="uaccess", TAG+="ASUS_ROG_Spatha_Wired"
SUBSYSTEMS=="usb|hidraw", ATTRS{idVendor}=="0b05", ATTRS{idProduct}=="1824", TAG+="uaccess", TAG+="ASUS_ROG_Spatha_Wireless"
#---------------------------------------------------------------#
# Asus Aura Strix Evolve - DetectAsusAuraUSBStrixEvolve
#---------------------------------------------------------------#
SUBSYSTEMS=="usb|hidraw", ATTRS{idVendor}=="0b05", ATTRS{idProduct}=="185b", TAG+="uaccess", TAG+="ASUS_ROG_Strix_Evolve"
#---------------------------------------------------------------#
# Asus Aura Mousemat - DetectAsusAuraUSBMousemats
#---------------------------------------------------------------#
SUBSYSTEMS=="usb|hidraw", ATTRS{idVendor}=="0b05", ATTRS{idProduct}=="1891", TAG+="uaccess", TAG+="ASUS_ROG_Balteus"
SUBSYSTEMS=="usb|hidraw", ATTRS{idVendor}=="0b05", ATTRS{idProduct}=="1890", TAG+="uaccess", TAG+="ASUS_ROG_Balteus_Qi"
#---------------------------------------------------------------#
# Asus Aura Ryuo AIO - DetectAsusAuraUSBRyuoAIO
#---------------------------------------------------------------#
SUBSYSTEMS=="usb|hidraw", ATTRS{idVendor}=="0b05", ATTRS{idProduct}=="1887", TAG+="uaccess", TAG+="ASUS_ROG_Ryuo_AIO"
#---------------------------------------------------------------#
# Asus Aura TUF Keyboard - DetectAsusAuraTUFUSBKeyboard
#---------------------------------------------------------------#
SUBSYSTEMS=="usb|hidraw", ATTRS{idVendor}=="0b05", ATTRS{idProduct}=="1a83", TAG+="uaccess", TAG+="ASUS_ROG_Azoth_USB"
SUBSYSTEMS=="usb|hidraw", ATTRS{idVendor}=="0b05", ATTRS{idProduct}=="1a85", TAG+="uaccess", TAG+="ASUS_ROG_Azoth_24GHz"
SUBSYSTEMS=="usb|hidraw", ATTRS{idVendor}=="0b05", ATTRS{idProduct}=="184d", TAG+="uaccess", TAG+="ASUS_ROG_Claymore"
SUBSYSTEMS=="usb|hidraw", ATTRS{idVendor}=="0b05", ATTRS{idProduct}=="193c", TAG+="uaccess", TAG+="ASUS_ROG_Falchion_Wired"
SUBSYSTEMS=="usb|hidraw", ATTRS{idVendor}=="0b05", ATTRS{idProduct}=="193e", TAG+="uaccess", TAG+="ASUS_ROG_Falchion_Wireless"
SUBSYSTEMS=="usb|hidraw", ATTRS{idVendor}=="0b05", ATTRS{idProduct}=="1875", TAG+="uaccess", TAG+="ASUS_ROG_Strix_Flare"
SUBSYSTEMS=="usb|hidraw", ATTRS{idVendor}=="0b05", ATTRS{idProduct}=="18cf", TAG+="uaccess", TAG+="ASUS_ROG_Strix_Flare_PNK_LTD"
SUBSYSTEMS=="usb|hidraw", ATTRS{idVendor}=="0b05", ATTRS{idProduct}=="18af", TAG+="uaccess", TAG+="ASUS_ROG_Strix_Flare_CoD_Black_Ops_4_Edition"
SUBSYSTEMS=="usb|hidraw", ATTRS{idVendor}=="0b05", ATTRS{idProduct}=="19fc", TAG+="uaccess", TAG+="ASUS_ROG_Strix_Flare_II_Animate"
SUBSYSTEMS=="usb|hidraw", ATTRS{idVendor}=="0b05", ATTRS{idProduct}=="19fe", TAG+="uaccess", TAG+="ASUS_ROG_Strix_Flare_II"
SUBSYSTEMS=="usb|hidraw", ATTRS{idVendor}=="0b05", ATTRS{idProduct}=="18f8", TAG+="uaccess", TAG+="ASUS_ROG_Strix_Scope"
SUBSYSTEMS=="usb|hidraw", ATTRS{idVendor}=="0b05", ATTRS{idProduct}=="1951", TAG+="uaccess", TAG+="ASUS_ROG_Strix_Scope_RX"
SUBSYSTEMS=="usb|hidraw", ATTRS{idVendor}=="0b05", ATTRS{idProduct}=="1b12", TAG+="uaccess", TAG+="ASUS_ROG_Strix_Scope_RX_EVA02_Edition"
SUBSYSTEMS=="usb|hidraw", ATTRS{idVendor}=="0b05", ATTRS{idProduct}=="19f6", TAG+="uaccess", TAG+="ASUS_ROG_Strix_Scope_NX_Wireless_Deluxe_USB"
SUBSYSTEMS=="usb|hidraw", ATTRS{idVendor}=="0b05", ATTRS{idProduct}=="19f8", TAG+="uaccess", TAG+="ASUS_ROG_Strix_Scope_NX_Wireless_Deluxe_24GHz"
SUBSYSTEMS=="usb|hidraw", ATTRS{idVendor}=="0b05", ATTRS{idProduct}=="1ab3", TAG+="uaccess", TAG+="ASUS_ROG_Strix_Scope_II"
SUBSYSTEMS=="usb|hidraw", ATTRS{idVendor}=="0b05", ATTRS{idProduct}=="1ab5", TAG+="uaccess", TAG+="ASUS_ROG_Strix_Scope_II_RX"
SUBSYSTEMS=="usb|hidraw", ATTRS{idVendor}=="0b05", ATTRS{idProduct}=="1aae", TAG+="uaccess", TAG+="ASUS_ROG_Strix_Scope_II_96_Wireless_USB"
SUBSYSTEMS=="usb|hidraw", ATTRS{idVendor}=="0b05", ATTRS{idProduct}=="1b78", TAG+="uaccess", TAG+="ASUS_ROG_Strix_Scope_II_96_RX_Wireless_USB"
SUBSYSTEMS=="usb|hidraw", ATTRS{idVendor}=="0b05", ATTRS{idProduct}=="1945", TAG+="uaccess", TAG+="ASUS_TUF_Gaming_K1"
SUBSYSTEMS=="usb|hidraw", ATTRS{idVendor}=="0b05", ATTRS{idProduct}=="194b", TAG+="uaccess", TAG+="ASUS_TUF_Gaming_K3"
SUBSYSTEMS=="usb|hidraw", ATTRS{idVendor}=="0b05", ATTRS{idProduct}=="1899", TAG+="uaccess", TAG+="ASUS_TUF_Gaming_K5"
SUBSYSTEMS=="usb|hidraw", ATTRS{idVendor}=="0b05", ATTRS{idProduct}=="18aa", TAG+="uaccess", TAG+="ASUS_TUF_Gaming_K7"
#---------------------------------------------------------------#
# Asus Aura USB Mainboard - DetectAsusAuraUSBMotherboards
#---------------------------------------------------------------#
SUBSYSTEMS=="usb|hidraw", ATTRS{idVendor}=="0b05", ATTRS{idProduct}=="18f3", TAG+="uaccess", TAG+="ASUS_Aura_Motherboard"
SUBSYSTEMS=="usb|hidraw", ATTRS{idVendor}=="0b05", ATTRS{idProduct}=="1939", TAG+="uaccess", TAG+="ASUS_Aura_Motherboard"
SUBSYSTEMS=="usb|hidraw", ATTRS{idVendor}=="0b05", ATTRS{idProduct}=="19af", TAG+="uaccess", TAG+="ASUS_Aura_Motherboard"
SUBSYSTEMS=="usb|hidraw", ATTRS{idVendor}=="0b05", ATTRS{idProduct}=="1aa6", TAG+="uaccess", TAG+="ASUS_Aura_Motherboard"
#---------------------------------------------------------------#
# Asus Aura USB - DetectAsusAuraUSBTerminal
#---------------------------------------------------------------#
SUBSYSTEMS=="usb|hidraw", ATTRS{idVendor}=="0b05", ATTRS{idProduct}=="1889", TAG+="uaccess", TAG+="ASUS_ROG_AURA_Terminal"
#---------------------------------------------------------------#
# Asus Aura USB - DetectAsusAuraUSBAddressable
#---------------------------------------------------------------#
SUBSYSTEMS=="usb|hidraw", ATTRS{idVendor}=="0b05", ATTRS{idProduct}=="1867", TAG+="uaccess", TAG+="ASUS_Aura_Addressable"
SUBSYSTEMS=="usb|hidraw", ATTRS{idVendor}=="0b05", ATTRS{idProduct}=="1872", TAG+="uaccess", TAG+="ASUS_Aura_Addressable"
SUBSYSTEMS=="usb|hidraw", ATTRS{idVendor}=="0b05", ATTRS{idProduct}=="18a3", TAG+="uaccess", TAG+="ASUS_Aura_Addressable"
SUBSYSTEMS=="usb|hidraw", ATTRS{idVendor}=="0b05", ATTRS{idProduct}=="18a5", TAG+="uaccess", TAG+="ASUS_Aura_Addressable"
#---------------------------------------------------------------#
# Asus ROG Ally - DetectAsusROGAlly
#---------------------------------------------------------------#
SUBSYSTEMS=="usb|hidraw", ATTRS{idVendor}=="0b05", ATTRS{idProduct}=="1abe", TAG+="uaccess", TAG+="ASUS_ROG_Ally"
SUBSYSTEMS=="usb|hidraw", ATTRS{idVendor}=="0b05", ATTRS{idProduct}=="1b4c", TAG+="uaccess", TAG+="ASUS_ROG_Ally_X"
#---------------------------------------------------------------#
# Asus ROG Strix Liquid Cooler - DetectAsusAuraUSBROGStrixLC
#---------------------------------------------------------------#
SUBSYSTEMS=="usb|hidraw", ATTRS{idVendor}=="0b05", ATTRS{idProduct}=="879e", TAG+="uaccess", TAG+="ASUS_ROG_Strix_LC"
#---------------------------------------------------------------#
# Asus Cerberus Mech Keyboard - DetectAsusCerberusMech
#---------------------------------------------------------------#
SUBSYSTEMS=="usb|hidraw", ATTRS{idVendor}=="195d", ATTRS{idProduct}=="2047", TAG+="uaccess", TAG+="ASUS_Cerberus_Mech"
#---------------------------------------------------------------#
# Asus Sagaris Keyboard - DetectAsusSagarisKeyboard
#---------------------------------------------------------------#
SUBSYSTEMS=="usb|hidraw", ATTRS{idVendor}=="0b05", ATTRS{idProduct}=="1835", TAG+="uaccess", TAG+="ASUS_Sagaris_GK1100"
#---------------------------------------------------------------#
# Asus Strix Claw - DetectAsusStrixClaw
#---------------------------------------------------------------#
SUBSYSTEMS=="usb|hidraw", ATTRS{idVendor}=="195d", ATTRS{idProduct}=="1016", TAG+="uaccess", TAG+="ASUS_ROG_Strix_Claw"
#---------------------------------------------------------------#
# Asus monitors - DetectAsusMonitorControllers
#---------------------------------------------------------------#
SUBSYSTEMS=="usb|hidraw", ATTRS{idVendor}=="0b05", ATTRS{idProduct}=="1ba3", TAG+="uaccess", TAG+="Asus_ROG_STRIX_XG27AQDMG"
SUBSYSTEMS=="usb|hidraw", ATTRS{idVendor}=="0b05", ATTRS{idProduct}=="1bb4", TAG+="uaccess", TAG+="Asus_ROG_STRIX_XG27UCG"
SUBSYSTEMS=="usb|hidraw", ATTRS{idVendor}=="0b05", ATTRS{idProduct}=="1b2b", TAG+="uaccess", TAG+="Asus_ROG_STRIX_PG32UCDM"
